
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AssignRole</h2>
@using (Html.BeginForm("AssignRole", "Role", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <label class="control-label">User Name</label>
            <input type="text" name="txtUserName" class="form-control">
            @Html.ValidationMessage("UserExist", new { @class = "text-danger" })
        </div>


        <div class="col-md-6 col-lg-6">
            <label class="control-label">Role</label>
            @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...") 
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>

}

