@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">A propos </span>
                    <h1 class="text-capitalize mb-5 text-lg">A propos de nous</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
                      <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                      <li class="list-inline-item"><a href="#" class="text-white-50">Contact Us</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<p> 
    PERFORMANTE SOLUTION est une société à haut niveau d’expertise de la gestion
    informatique des visiteurs des salons et congrès spécialisée dans les prestations destinées aux
    organisateurs d’événements en base de données, contrôle d’accès, traitement des fichiers,
    développement informatique, hébergement et gestion de contenu, solutions web, progicielles
    novatrices.

    L’informatique et le domaine de système de sécurité ont toujours été une passion pour cette
    entreprise, c’est pour cette raison elle présente des services de qualités, et elle fournit à ses
    clients les solutions les plus innovantes et les mieux adapter à leur besoin. Le but de cette
    entreprise est d’offrir une gamme de prestations la plus large possible, pour pouvoir prendre
    en compte toutes les demandes dans le meilleur délai.

    PERFORMANTE SOLUTION est une mesure de faire face à face aux mutations du monde
    professionnel et de répondre aux nouveaux besoins des entreprises et institutions.
    Les clients de PERFORMANTE SOLUTION sont des agences de communication, des
    entreprises de tout secteur d’activité et de toute taille ainsi que les institutions et
    administrations.

</p>

<br />