
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Nos Services</span>  
                    <h1 class="text-capitalize mb-5 text-lg">Ce Que Nous Faisons</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
                      <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                      <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section service-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="~/Content/Layout/images/Services/2.jpg" alt="" height="300" @*class="img-fluid"*@ />
                    <div class="content">
                        <h4 align="center" class="mt-4 mb-2 title-color">Badges Nominatif</h4>
                        <p align="justify" class="mb-4">
                            Badge imprimé avec logo et illustration de l’évènement
                            au nom des participants avec
                            possibilité d’imprimer sur chaque badge, la photo de
                            bénéficiaire.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="~/Content/Layout/images/Services/3.jpg" alt="" height="300" @*class="img-fluid"*@ />
                    <div class="content">
                        <h4 align="center" class="mt-4 mb-2  title-color">Badges PVC</h4>
                        <p align="justify" class="mb-4">
                            Le badge PVC est en format carte de crédit laminé
                            avec perforation trou impression quadri imprimé au nom
                            des participants.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="~/Content/Layout/images/Services/4.jpg" alt="" height="300" @*class="img-fluid"*@ />
                    <div class="content">
                        <h4 align="center" class="mt-4 mb-2 title-color">Attaches De Badges</h4>
                        <p align="justify" class="mb-4">
                            Cordon uni plat avec attache le mousqueton métal et Cordon personnalisé avec impression avec attache
                            le mousqueton métal.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5 mb-lg-0">
                    <img src="~/Content/Layout/images/Services/5.jpg" alt="" height="400" @*class="img-fluid"*@ />
                    <div class="content">
                        <h4 align="center" class="mt-4 mb-2 title-color">Préinscription</h4>
                        <p align="justify" class="mb-4">
                            Conception des formulaires d’inscription et Intégration des données des inscrits dans la base
                            des données.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5 mb-lg-0">
                    <img src="~/Content/Layout/images/Services/6.jpg" alt="" height="400" @*class="img-fluid"*@ />
                    <div class="content">
                        <h4 align="center" class="mt-4 mb-2 title-color">Traitement BD</h4>
                        <p align="justify" class="mb-4">
                            L’entreprise met en disposition plusieurs services à fin d’aider les clients à mieux gérer
                            leurs contacts.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5 mb-lg-0">
                    <img src="~/Content/Layout/images/Services/1.jpg" alt="" height="400" @*class="img-fluid"*@ />
                    <div class="content">
                        <h4 align="center" class="mt-4 mb-2 title-color">Location Matériels</h4>
                        <p align="justify" class="mb-4">Le domaine de location de matériel constitue aussi un de nos domaines au cas de bésoin.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section cta-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="cta-content">
                    <div class="divider mb-4"></div>
                    <h2 class="mb-5 text-lg">C'est un plaisir de collaborer avec vous pour tous vos bésoind liés à nos <span class="title-color">Services</span></h2>                   
                </div>
            </div>
        </div>
    </div>
</section>
